**/node_modules/**
*.class
*.dll
*.exe
*.log
*.o
*.pyc
*.so
.*.sw?
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
._*
.env
.git/**
.python-version
Brewfile.lock.json
Icon?
Thumbs.db
ehthumbs.db
id_ed25519
id_rsa
