[user]
	name = Jimmy Zelinskie
	email = jimmyzelinskie@gmail.com
[color]
	ui = auto
[alias]
	s = status
	ss = rev-parse --short
	h = show HEAD
	d = diff
	dc = diff --cached
	l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue) -%an%Creset' --abbrev-commit
	co = checkout
	br = branch
	remotes = remote
	fetch = fetch --all
	discard = checkout HEAD --
	unadd = reset HEAD
	pullr = pull --rebase
	cherrypick = cherry-pick
	dif = diff
  comit = commit
[core]
	excludesfile = ~/.gitignore
	safecrlf = true
	trustctime = false
[diff]
	mnemonicprefix = true
	algorithm = patience
[merge]
  tool = vimdiff
[mergetool]
  prompt = true
[mergetool "vimdiff"]
  cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[url "git@github.com:"]
	insteadOf = git://github.com/
	insteadOf = https://github.com/
[push]
	default = simple
[github]
	user = jzelinskie
[rerere]
	enabled = true
