*.c diff=cpp
*.cc diff=cpp
*.cpp diff=cpp
*.css diff=css
*.ex diff=elixir
*.exs diff=elixir
*.go diff=golang
*.h diff=cpp
*.hh diff=cpp
*.hpp diff=cpp
*.html diff=html
*.js diff=javascript
*.md diff=markdown
*.php diff=php
*.pl diff=perl
*.py diff=python
*.rb diff=ruby
*.rs diff=rust
*.ts diff=javascript
