[user]
	name = Jimmy Zelinskie
	email = jimmy.zelinskie+git@gmail.com
	signingkey = A49C1F7C
[color]
	ui = auto
[alias]
	s = status
	ss = rev-parse --short
	h = show HEAD
	d = diff
	dc = diff --cached
	l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue) -%an%Creset' --abbrev-commit
	co = checkout
	br = branch
	remotes = remote
	fetch = fetch --all
	discard = checkout HEAD --
	unadd = reset HEAD
	pullr = pull --rebase
	cherrypick = cherry-pick
	dif = diff
	comit = commit
	commit = commit
	rebase-i = rebase -i --autostash
	copr = "!f() { git fetch $1 pull/$2/head:pr-$2 && git checkout pr-$2; }; f"
	cob = "!f() { git checkout master; git pull; git checkout -b $1; }; f"
[core]
	excludesfile = ~/.gitignore
	safecrlf = true
	trustctime = false
[diff]
	mnemonicprefix = true
	algorithm = patience
	compactionHeuristic = true
[merge]
	tool = vimdiff
[mergetool]
	prompt = true
[mergetool "vimdiff"]
	cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[push]
	default = simple
[github]
	user = jzelinskie
[rerere]
	enabled = true
